<!doctype html>
<html>
	<body>
		<ul>
			<li>The total number of sightings is {{  total_sightings  }}</li>
			<li>The total number of squirrels running is {{  total_running  }}</li>
			<li>The total number of squirrels chasing is {{  total_chasing  }}</li>
			<li>The total number of squirrels eating is {{  total_eating  }}</li>
			<li>The total number of squirrels climbing is {{  total_climbing  }}</li>
			<li>The total number of squirrels foraging is {{  total_foraging  }}</li>
			<li>The total number of morning observations is {{  total_morning  }}</li>
			<li>The total number of afternoon observations is {{  total_afternoon  }}</li>
			<li>The total number of adult squirrels is {{  total_adults  }}</li>
			<li>The total number of juveniles squirrels is {{  total_juveniles  }}</li>
			<li>The total number of gray squirrels is {{  total_gray  }}</li>
			<li>The total number of cinnamon squirrels is {{  total_cinnamon  }}</li>
			<li>The total number of black squirrels is {{  total_black  }}</li>
		</ul>
	</body>
<html>
